body  {
	background: #3f3f41;
}

main {
	width: 100%;
}

section#unos {
	width: 45%;
	float: left;
}

section#prikaz {
	width: 55%;
	float: right;
}

header {
	width: 300px;
	color: #4e4e50;
	margin: 20px;
	padding: 10px 0px;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
}

form {
	outline: 0;
	margin: 10px;
	padding: 10px;
	font-size: 24px;
}

label {
	display: block;
	color: #ffffff;
	font-family: "Arial", Gadget, sans-serif;
}

input {
	background: #78787a;
	border-color: white;
	color: #ffffff;
	width: 75%;
	height: 75px;
	border-color: white;
	vertical-align: middle;
	line-height: 75px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0px 40px 0px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

input:focus {
	outline: 0;
}

#kreiraj {
	background-color: #79ac35;
	border: none;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}
	
#tablica {
	margin: 20px;
	padding: 10px 0px;
	color: #888888;
	font-size: 24px;
	font-weight: bold;
}

.polje {
	width: 90px;
	height: 90px;
	background: #ffffff; 
	text-align:center;
	vertical-align: middle;
	line-height: 90px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

obrub{
	border: 5px;
	background: #0FA0CE;
}

broj_redaka{
	border: 5px;
}